.CheckInCheckOut{
    width: 250px;
    height: 250px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: purple;
    color: white;
    border-radius: 3px;
    margin-top: 8px;
    font-size: 20px;
}

.Button{
    background: white;
    color: blue;
    outline: none;
    width: 100px;
    height: 35px;
    border: 1px solid blue;
    border-radius: 4px;
    font-weight: bold;
    margin-top: 32px;
}

.Button:hover{
    background: blue;
    color: white;
}

.Button:active{
    background: red;
    color: white;
}